<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="
        container
        mt-4
        mb-2
        p-0
        pb-3
        d-flex
        justify-content-between
        container-border
      ">
        <!-- ng-if ="mp-dashboard" -->
        <h2 class="text-uppercase fw-bold txt-blueprimary">firm summary</h2>
        <!-- ng-if="ep-dashboard" -->
        <!-- <h2 class="text-uppercase fw-bold txt-blueprimary">pg banking & finance summary</h2> -->
        <button class="btn btn-dashboard w-25 fw-bold">
        Day 120 of 224 efective days
        <i class="fas fa-angle-right"
        style="transform: translate(30px,2px);
        color: white;
        font-weight: 400;"
      "></i>
      </button>
    </div>
    <div class="container mx-auto mt-3 mb-2 p-0 pt-1 pb-0 container-border">
        <div class="alert alert-pink alert-dismissible fade show" role="alert">
            <strong>Assign more loads/jobs on the low-productive.</strong> or Rebalance workload between fee-earnes fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-orange alert-dismissible fade show" role="alert">
            Remind the discipline of timesheet entry, as it will reflect on the
            <strong>Individual KPI</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-pink alert-dismissible fade show" role="alert">
            <strong>Key Focus:</strong> Improve Revenue, R1, R2 Total, R2 Confirmed/Soon, R2 Difficult, R3 (WIP to bill)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="container mx-auto mt-3 mb-2 p-0">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center pb-0">
                        <h2 class="card-title text-uppercase mb-0" style="font-weight: 600">
                            Productivity
                        </h2>
                        <small class="card-text mb-3 fw-bold" style="font-size: 0.7rem">year to date</small
              >
              <hr class="w-50 mx-auto my-2" />
              <h1 class="card-title mx-auto">83%</h1>
            </div>
            <hr class="w-50 mx-auto mt-2 mb-1" />
            <ul
              class="list-group list-group-flush mx-auto pb-2 px-2"
              style="width: 80%; border: none"
            >
              <li
                class="list-group-item w-100 pt-0"
                style="
                  display: flex;
                  justify-content: center;
                  border-top: none !important;
                  border-bottom: none !important;
                "
              >
                <div
                  style="
                    border-right: 1px solid lightgrey;
                    display: block;
                    width: 50%;
                    text-align: center;
                    height: 4rem !important;
                  "
                >
                  <ul class="list-group txt-orange" style="list-style: none">
                    <li class="w-100">Actual</li>
                    <li>
                      <h3 class="mb-0 text-end">
                        1245
                        <i class="fas fa-arrow-alt-circle-right down-red"></i>
                      </h3>
                    </li>
                    <li class="txt-black">
                      <small style="font-size: 0.7rem">hours</small>
                        </li>
                        </ul>
                    </div>
                    <div style="width: 50%; text-align: center">
                        <ul class="list-group txt-lightblue" style="list-style: none">
                            <li>Target</li>
                            <li>
                                <h3 class="mb-0">
                                    1450
                                    <i class="fas fa-arrow-alt-circle-right up-green"></i>
                                </h3>
                            </li>
                            <li class="txt-black">
                                <small style="font-size: 0.7rem">hours</small>
                            </li>
                        </ul>
                    </div>
                    </li>
                    </ul>
                    <hr class="w-50 mx-auto mt-2 mb-1" />
                    <div class="card-body">
                        <a href="productivity.html" class="btn btn-dashboard w-50 mx-auto py-2">Detail
                <i
                  class="fas fa-angle-right"
                  style="
                    transform: translateX(20px);
                    color: white;
                    font-weight: 400;
                  "
                ></i>
              </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center pb-0">
                        <h2 class="card-title text-uppercase mb-0" style="font-weight: 600">
                            Matter
                        </h2>
                        <small class="card-text mb-3 fw-bold" style="font-size: 0.7rem">year to date</small
              >
              <hr class="w-50 mx-auto my-2" />
              <h1 class="card-title mx-auto">112%</h1>
            </div>
            <hr class="w-50 mx-auto mt-2 mb-1" />
            <ul
              class="list-group list-group-flush mx-auto pb-2 px-2"
              style="width: 80%; border: none"
            >
              <li
                class="list-group-item w-100 pt-0"
                style="
                  display: flex;
                  justify-content: center;
                  border-top: none !important;
                  border-bottom: none !important;
                "
              >
                <div
                  style="
                    border-right: 1px solid lightgrey;
                    display: block;
                    width: 50%;
                    text-align: center;
                    height: 4rem !important;
                  "
                >
                  <ul class="list-group txt-orange" style="list-style: none">
                    <li class="w-100">Actual</li>
                    <li>
                      <h3 class="mb-0 text-end">
                        35
                        <i class="fas fa-arrow-alt-circle-right up-green"></i>
                      </h3>
                    </li>
                    <li class="txt-black">
                      <small style="font-size: 0.7rem">matters</small>
                        </li>
                        </ul>
                    </div>
                    <div style="width: 50%; text-align: center">
                        <ul class="list-group txt-lightblue" style="list-style: none">
                            <li>Target</li>
                            <li>
                                <h3 class="mb-0">30</h3>
                            </li>
                            <li class="txt-black">
                                <small style="font-size: 0.7rem">matters</small>
                            </li>
                        </ul>
                    </div>
                    </li>
                    </ul>
                    <hr class="w-50 mx-auto mt-2 mb-1" />
                    <div class="card-body">
                        <a href="matter.html" class="btn btn-dashboard w-50 mx-auto py-2">Detail
                <i
                  class="fas fa-angle-right"
                  style="
                    transform: translateX(20px);
                    color: white;
                    font-weight: 400;
                  "
                ></i>
              </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center pb-0">
                        <h2 class="card-title text-uppercase mb-0" style="font-weight: 600">
                            Finance
                        </h2>
                        <small class="card-text mb-3 fw-bold" style="font-size: 0.7rem">year to date</small
              >
              <hr class="w-50 mx-auto my-2" />
              <h1 class="card-title mx-auto">75%</h1>
            </div>
            <hr class="w-50 mx-auto mt-2 mb-1" />
            <ul
              class="list-group list-group-flush mx-auto pb-2 px-2"
              style="width: 80%; border: none"
            >
              <li
                class="list-group-item w-100 pt-0"
                style="
                  display: flex;
                  justify-content: center;
                  border-top: none !important;
                  border-bottom: none !important;
                "
              >
                <div
                  style="
                    border-right: 1px solid lightgrey;
                    display: block;
                    width: 50%;
                    text-align: center;
                    height: 4rem !important;
                  "
                >
                  <ul class="list-group txt-orange" style="list-style: none">
                    <li class="w-100">Actual</li>
                    <li>
                      <h3 class="mb-0">
                        $18.5
                        <i class="fas fa-arrow-alt-circle-right down-red"></i>
                      </h3>
                    </li>
                    <li class="txt-black">
                      <small style="font-size: 0.7rem">Billion</small>
                        </li>
                        </ul>
                    </div>
                    <div style="width: 50%; text-align: center">
                        <ul class="list-group txt-lightblue" style="list-style: none">
                            <li>Target</li>
                            <li>
                                <h4 class="mb-0">$24.0</h4>
                            </li>
                            <li class="txt-black">
                                <small style="font-size: 0.7rem">Billion</small>
                            </li>
                        </ul>
                    </div>
                    </li>
                    </ul>
                    <hr class="w-50 mx-auto mt-2 mb-1" />
                    <div class="card-body">
                        <a href="finance.html" class="btn btn-dashboard w-50 mx-auto py-2">Detail
                <i
                  class="fas fa-angle-right"
                  style="
                    transform: translateX(20px);
                    color: white;
                    font-weight: 400;
                  "
                ></i>
              </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center pb-0">
                        <h2 class="card-title text-uppercase mb-0" style="font-weight: 600">
                            KPI
                        </h2>
                        <small class="card-text mb-3 fw-bold" style="font-size: 0.7rem">year to date</small
              >
              <hr class="w-50 mx-auto my-2" />
              <h1 class="card-title mx-auto">75%</h1>
            </div>
            <hr class="w-50 mx-auto mt-2 mb-1" />
            <ul
              class="list-group list-group-flush mx-auto pb-2 px-2"
              style="width: 80%; border: none"
            >
              <li
                class="list-group-item w-100 pt-0"
                style="
                  display: flex;
                  justify-content: center;
                  border-top: none !important;
                  border-bottom: none !important;
                "
              >
                <div
                  style="
                    border-right: 1px solid lightgrey;
                    display: block;
                    width: 50%;
                    text-align: center;
                    height: 4rem !important;
                  "
                >
                  <ul class="list-group txt-orange" style="list-style: none">
                    <li class="w-100">Actual</li>
                    <li>
                      <h3 class="mb-0">
                        93.1<i
                          class="fas fa-arrow-alt-circle-right down-red"
                        ></i>
                      </h3>
                    </li>
                    <li class="txt-black">
                      <small style="font-size: 0.7rem">point</small>
                        </li>
                        </ul>
                    </div>
                    <div style="width: 50%; text-align: center">
                        <ul class="list-group txt-lightblue" style="list-style: none">
                            <li>Target</li>
                            <li>
                                <h4 class="mb-0">82.4</h4>
                            </li>
                            <li class="txt-black">
                                <small style="font-size: 0.7rem">point</small>
                            </li>
                        </ul>
                    </div>
                    </li>
                    </ul>
                    <hr class="w-50 mx-auto mt-2 mb-1" />
                    <div class="card-body">
                        <a href="kpi.html" class="btn btn-dashboard w-50 mx-auto py-2">Detail
                <i
                  class="fas fa-angle-right"
                  style="
                    transform: translateX(20px);
                    color: white;
                    font-weight: 400;
                  "
                ></i>
              </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-4 p-0">
        <!-- ng-if="mp-dahsboard" -->
        <header>
            <h3 class="text-uppercase fw-bold txt-blueprimary ps-2">pg summary</h3>
        </header>
        <div class="table-summary">
            <div class="header-inner bg-lightblue text-light">
                <div class="header-content">employee name</div>
                <div class="header-content">revenue</div>
                <div class="header-content">r1 collection</div>
                <div class="header-content">productivity</div>
                <div class="header-content">matter</div>
                <div class="header-content">summary</div>
            </div>
            <!-- looping di -> content-wrapper -->
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg a</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                            81%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
                            67%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            90%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100">
                            <span class="text-light text-uppercase fw-bold">good</span>
                        </div>
                    </div>
                </div>
                <div class="isi">
                    <p>
                        1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg b</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar high-progress" role="progressbar" style="width: 112%" aria-valuenow="112" aria-valuemin="0" aria-valuemax="100">
                            112%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">
                            91%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar high-progress" role="progressbar" style="width: 123%" aria-valuenow="123" aria-valuemin="0" aria-valuemax="100">
                            123%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar high-progress w-100">
                            <span class="text-light text-uppercase fw-bold">high</span>
                        </div>
                    </div>
                </div>
                <div class="isi">
                    <p>
                        2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg c</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                            35%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100">
                            23%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            85%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar low-progress w-100">
                            <span class="text-light text-uppercase fw-bold">low</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg d</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">
                            64%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            45%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
                            68%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress w-100">
                            <span class="text-light text-uppercase fw-bold">very low</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg e</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 47%" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100">
                            47%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">
                            89%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                            79%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100">
                            <span class="text-light text-uppercase fw-bold">good</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg f</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                            81%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
                            67%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            90%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100">
                            <span class="text-light text-uppercase fw-bold">good</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-uppercase fw-bold">pg g</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 47%" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100">
                            47%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">
                            89%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                            79%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100">
                            <span class="text-light text-uppercase fw-bold">good</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-4 p-0">
        <header class="mb-3">
            <h3 class="text-uppercase fw-bold txt-blueprimary ps-2">
                Individual summary
            </h3>
            <!-- ng-if="ep-dashboard" -->
            <!-- <h3 class="text-uppercase fw-bold txt-blueprimary ps-2">
          Partner Individual summary
        </h3> -->
        </header>
        <form class="row g-3 mb-2" novalidate>
            <div class="col-md-3">
                <h5 class="ps-2">FILTER BY</h5>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <div class="col-md-2">
                <select class="form-select">
            <option selected disabled value="">All Level</option>
            <option>...</option>
          </select>
            </div>
            <div class="col-md-2">
                <select class="form-select">
            <option selected disabled value="">All PG</option>
            <option>...</option>
          </select>
            </div>
        </form>
        <div class="table-summary">
            <div class="header-inner bg-lightblue text-light">
                <div class="header-content">employee name</div>
                <div class="header-content">revenue</div>
                <div class="header-content">r1 collection</div>
                <div class="header-content">productivity</div>
                <div class="header-content">matter new qty</div>
                <div class="header-content">summary</div>
            </div>
            <!-- looping di -> content-wrapper -->
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-capitalize fw-bold">partner 1</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                            81%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
                            67%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            90%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100">
                            <span class="text-light text-uppercase fw-bold">good</span>
                        </div>
                    </div>

                    <!-- <button type="button" class="collapsible">show</button>
            <div class="isi">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div> -->
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-capitalize fw-bold">partner 2</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar high-progress" role="progressbar" style="width: 112%" aria-valuenow="112" aria-valuemin="0" aria-valuemax="100">
                            112%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">
                            91%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar high-progress" role="progressbar" style="width: 123%" aria-valuenow="123" aria-valuemin="0" aria-valuemax="100">
                            123%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill mx-auto" style="height: 2.5rem">
                        <div class="progress-bar high-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar high-progress w-100">
                            <span class="text-light text-uppercase fw-bold">high</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-capitalize fw-bold">partner 3</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                            35%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100">
                            23%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            85%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill mx-auto" style="height: 2.5rem">
                        <div class="progress-bar low-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar low-progress w-100">
                            <span class="text-light text-uppercase fw-bold">low</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-capitalize fw-bold">partner 4</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">
                            64%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            45%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar low-progress" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
                            68%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill mx-auto" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress w-100 text-dark">
                            +
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress w-100">
                            <span class="text-light text-uppercase fw-bold">very low</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content">
                    <span class="text-capitalize fw-bold">partner 5</span>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar very-low--progress" role="progressbar" style="width: 47%" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100">
                            47%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">
                            89%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill" style="height: 2.5rem">
                        <div class="progress-bar good-progress" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                            79%
                        </div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100 text-dark">+</div>
                    </div>
                </div>
                <div class="body-content">
                    <div class="progress rounded-pill w-50 mx-auto" style="height: 2.5rem">
                        <div class="progress-bar good-progress w-100">
                            <span class="text-light text-uppercase fw-bold">good</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/bootstrap.bundle.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="script.js"></script>
</body>

</html>